footer {
	background-color: #FFFFFF;
    height: 60px;
    width: 100%;
	border-top: 1px solid #CCCCCC;
    position: fixed;
    bottom: 0px; 
	padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}