header {
	background-color: #FFFFFF;
    height: 70px;
    width: 100%;
	border-bottom: 1px #CCCCCC;
	padding: 0;
	background:url(./../images/logo.png);
	background-position: 20px;
	background-repeat: no-repeat;
}
