.filters{
    color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

.button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    width: 20%;
    height: 48px;
    border: 0px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    cursor: pointer;
}

.button:hover{
    background-color: #FF5A5F;
    opacity: 90%;
}
