.filters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
    color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    width: 20%;
    height: 48px;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover{
    background-color: #FF5A5F;
    opacity: 90%;
}

.locations{
    display: inline-block;
    flex-direction: column;
    color: black;
    padding-left: 1%;
    margin-left: 30px;
    height: 100%;
    width: 30%;
    border-right: 1px solid #DDDDDD;
}

.amenities{
    display: inline-block;
    flex-direction: column;
    padding-left: 10px;
    margin-left: -110px;
    color: black;
    height: 100%;
    width: 25%;
}

.filters h3{
    font-weight: 600;
    margin:1%;
    right: 20%;
    margin-top: 5%;
}

.filters h4{
    font-weight: 400;
    font-size: 14px;
    margin: 1%;
    margin-bottom: 5%;
}

.popover{
    display: none;
    flex-direction: column;
    background-color: #FAFAFA;
    width: 100%;
    margin-top: 0%;
    margin-left: -40px;
    list-style-type: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    z-index: 99;
}

.popover ul li{
    list-style-type: none;
}

.locations:hover .popover{
    display: block;
}

.amenities:hover .popover{
    display: block;
}

.filters h2 {
    font-size: 16px;
}